body {
  background: #e5e5e5;
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
  background-color: white;
}

a {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  color: #6070ff;
  text-decoration-line: none;
}

.headline-section {
  background-repeat: no-repeat;
  background-image: url(../images/header-shapes-mobile.jpg);
  background-size: 100% 100%;
  background-color: white;
  display: flex;
  height: 620px;
  flex-direction: column;
  padding: 20px 20px;
  border-bottom-left-radius: 25% 50px;
  margin-bottom: 100px;
}

h1 {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  color: #3d4ee4;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.all-item {
  display: flex;
  flex-wrap: wrap;
}

.menu-icon {
  align-self: flex-end;
}

.works {
  /* Works */
  display: grid;
  row-gap: 88px;
  padding: 12px;
}

.card {
  /* Card Works */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  min-height: 100vh;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-items: flex-start;
}

h2 {
  align-self: flex-start;
  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.left-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-title {
  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.canopy {
  /* Caption / 1 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.roles {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  gap: 12px;
  width: 88px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.role-text {
  /* Caption / 1 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  /* Caption / 1 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.secondary-text {
  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.tag1 {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag-text {
  /* Button / Small */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.action {
  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.first-button {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: #fff;
  width: 124px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);

  /* Primary/B400 */
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.about {
  background-repeat: no-repeat;
  background-image: url(../images/about.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
}

.top {
  /* TOP */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-top {
  /* Primary Text */

  width: 327px;
  height: 101px;

  /* Header / 2 */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-text {
  /* Primary Text */

  width: 327px;
  height: 144px;

  /* Body / 2 */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-media {
  /* Social Media */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 200px;
  height: 80px;
}

.lets {
  /* LET’S CONNECT */

  width: 117px;
  height: 24px;

  /* Body / 2 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.first-button1 {
  /* Normal Button/Secondary/Enabled */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;

  /* Primary/B400 */

  border: 1px solid #6070ff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.skill-list {
  /* Skill List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 464.15px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame12 {
  /* Frame 12 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.lang {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);

  /* Body / 1 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: flex-start;
  color: #000;
}

.lang-list {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  align-self: center;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.javascript {
  width: 303px;
  height: 66.72px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame8 {
  width: 327px;
  height: 72px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame9 {
  width: 327px;
  height: 72px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}
