@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #e5e5e5;
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  color: #6070ff;
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: 82px;
  width: 100%;
  position: fixed;
}

.logo {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
}

.menu {
  display: none;
}

.menu-bar {
  cursor: pointer;
  margin-right: 25px;
  width: 30px;
}

.headline-section {
  background-image: url("../images/background-image.svg");
  background-color: white;
  background-clip: padding-box;
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  border-bottom-left-radius: 40px;
  margin-bottom: 110px;
  width: 100%;
  padding: 0 24px 135px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headline-section .name {
  margin-top: 100px;
}

.headline-section h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #172b4d;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 205px;
}

.headline-section .about-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media {
  display: flex;
  gap: 19px;
  align-items: baseline;
}

form ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headline-section ul {
  display: flex;
  flex-direction: row;
}

.handles {
  float: left;
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 0;
  border-radius: 10px;
}

.works {
  /* Works */
  display: grid;
  row-gap: 88px;
  padding: 12px;
}

.card {
  /* Card Works */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  min-height: 100vh;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-items: flex-start;
}

h2 {
  align-self: flex-start;
  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.left-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-title {
  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.canopy {
  /* Caption / 1 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.roles {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  gap: 12px;
  width: 88px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.role-text {
  /* Caption / 1 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  /* Caption / 1 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.secondary-text {
  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.tag1 {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag-text {
  /* Button / Small */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.action {
  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.first-button {
  width: 124px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  color: #6070ff;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 12px;
}

.first-button:hover {
  top: 12px;
  background: #6070ff;
  color: #fff;
}

.first-button:active {
  top: 12px;
  background: #2230d2;
  color: #fff;
}

.about {
  box-sizing: border-box;
  padding: 7.125rem 1.5rem;
  background-color: #fff;
  border-top-right-radius: 5rem;
  background-clip: border-box;
  background-clip: padding-box;
}

.top {
  /* TOP */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-top {
  /* Primary Text */

  width: 327px;
  height: 101px;

  /* Header / 2 */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-text {
  /* Primary Text */

  width: 327px;
  height: 144px;

  /* Body / 2 */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.lets {
  /* LET’S CONNECT */

  width: 117px;
  height: 24px;

  /* Body / 2 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.resume-btn {
  font: normal normal 400 17px 'Poppins', sans-serif;
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 2px solid #6070ff;
  color: #6070ff;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 12px;
}

.resume-btn:hover {
  top: 12px;
  background: #6070ff;
  color: #fff;
}

.resume-btn:active {
  background: #6070ff;
  color: #fff;
}

.skill-list {
  /* Skill List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 464.15px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame12 {
  /* Frame 12 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.lang {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);

  /* Body / 1 - Bolder */

  font-family: 'Poppins' Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: flex-start;
  color: #000;
}

.lang-list {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  align-self: center;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.javascript {
  width: 303px;
  height: 66.72px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame8 {
  width: 327px;
  height: 72px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame9 {
  width: 327px;
  height: 72px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  align-items: center;
  background: #6070ff;
  background-image: url("../images/contact-form-image.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 80px 0 0 0;
}

footer h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #fff;
  padding-top: 103px;
}

footer p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

form {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

form input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  width: 100%;
  padding: 16px;
  font-size: 17px;
}

form textarea {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 170px;
  width: 100%;
  padding: 16px;
  font-size: 17px;
}

form button {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  width: 50%;
  padding: 16px;
  font-size: 17px;
  color: #6070ff;
}

form button:hover {
  background: #6070ff;

  /* Button/1 */
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}
